* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background-image: url('../../assets/images/avengersbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .memory_game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  
    perspective: 1000px;
  }
  
  .card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
  
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
  
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.9s;
  }
  
  .card:active{
    transform: scale(.97);
    transition: transform 0.3s
  }
  
  .card-front,
  .card-back {
    height: 100%;
    width: 100%;
    padding: 20px;
  
    position: absolute;
    border-radius: 5px;
    background-color: #ccc;
  
    backface-visibility: hidden;
  }
  
  .card-front {
    transform: rotateY(180deg);
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }